@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply transition-all rounded-lg h-14 w-full md:w-fit md:px-16 drop-shadow-lg font-medium text-lg;
  }
}

.btn-primary {
  @apply btn bg-primary-500 hover:bg-primary-700 text-gray-50 dark:text-gray-900;
}

.btn-secondary {
  @apply btn border border-primary-500 dark:border-primary-300 hover:border-primary-700 dark:hover:border-primary-500 text-primary-500 dark:text-primary-300 hover:text-primary-700 dark:hover:text-primary-500;
}

.btn-gradient {
  @apply btn;
}

@media screen and (min-width: 786px) {
  .hero {
    min-height: calc(100vh - 5rem);
  }
}
